#header {
    font-size: 40px;
}

#header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px 0;
    background-color: whitesmoke;
}

#header a {
    text-decoration: none;
    color: black;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content p {
    width: 80%;
}