
body {
display:flex;
color: white;
}    
#image{
    display: flex;
    justify-content: flex-start;
    margin:10px;
}
.coords{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 70px;
    padding-top: 20px;
}
.coord{
    display: flex;
    gap: 200px;
}

#text{
    display: flex;
    justify-content: center;
}
a{
    text-align: center;
    text-decoration: black;
    color: rgb(255, 255, 255);
}
#footer{
    background-color: rgb(50, 50, 50);
}
