html {
    background-color: rgb(193, 193, 193);
}

#header {
    font-size: 40px;
    position: fixed;
    top: 0;
    width: 99%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px 0;
    background-color: rgb(50, 50, 50);
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}