html {
    scroll-behavior: smooth;
    background-color: rgb(193, 193, 193);
}

#header {
    font-size: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 10px;
    width: 99%;
}

#header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 5px solid black;
    padding: 20px 0;
    background-color: rgb(50, 50, 50);
}

#header a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#content h1 {
    font-size: 40px;
}

#content h2 {
    font-size: 40px;
    margin: 10px 0;
}

#content p {
    width: 80%;
    font-size: 20px;
    margin: 0;
}

#content ul {
    margin: 0;
    font-size: 20px;
}